<script type="text/javascript" src="js/fusioncharts.js"></script>
<script type="text/javascript" src="js/themes/fusioncharts.theme.carbon.js"></script>

<style>
  table,
  th,
  td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 12px;
    color: #000;
  }
</style>

<div class="container" style="padding-left:250px">
  <div class="container-50 noTopPadding container-30-right">
    <h4 style="color:#FFF">
      <br>Grid A LV Side</h4>
  </div>
  <div class="clearfix"></div>
  <div *ngIf="this.devices !== undefined && this.devices.length > 0" class="container-50 paddingTop">
    <div class="floatRight">
      <!--<a href="#">Manage Devices</a>-->
    </div>

    <div class="dashItem" ng-if="$ctrl.regions">
      <div class="row">
        <h3 style="color:#FFF">Live Data Connection {{mqttStatus ? '✅' : '❌'}}</h3>
      </div>
    </div>
  </div>

  <div class="row" style="padding:10px">

    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <table class="table table-bordered" style="min-height: 445px">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Voltage</th>
                <th scope="col">Value</th>
              </tr>
            </thead>
            <tr>
              <td>Voltage A</td>
              <td>{{Data_1_volt_A}}</td>

            </tr>
            <tr>
              <td>Voltage B</td>
              <td>{{Data_1_volt_B}}</td>

            </tr>
            <tr>
              <td>Voltage C</td>
              <td>{{Data_1_volt_C}}</td>
            </tr>
            <tr>
              <td>THD Voltage A</td>
              <td>{{Data_1_THD_volt_A}}</td>

            </tr>
            <tr>
              <td>THD Voltage B</td>
              <td>{{Data_1_THD_volt_B}}</td>

            </tr>
            <tr>
              <td>THD Voltage C</td>
              <td>{{Data_1_THD_volt_C}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <table class="table table-bordered" style="min-height: 445px">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Current</th>
                <th scope="col">Value</th>
              </tr>
            </thead>
            <tr>
              <td>Current A</td>
              <td>{{Data_1_curr_A}}</td>

            </tr>
            <tr>
              <td>Current B</td>
              <td>{{Data_1_curr_B}}</td>

            </tr>
            <tr>
              <td>Current C</td>
              <td>{{Data_1_curr_C}}</td>
            </tr>
            <tr>
              <td>Neutral Current</td>
              <td>{{Data_1_neu_curr}}</td>
            </tr>

            <tr>
              <td>THD Current A</td>
              <td>{{Data_1_THD_curr_A}}</td>

            </tr>
            <tr>
              <td>THD Current B</td>
              <td>{{Data_1_THD_curr_B}}</td>

            </tr>
            <tr>
              <td>THD Current C</td>
              <td>{{Data_1_THD_curr_C}}</td>
            </tr>
            <tr>
              <td>THD Neutral Current</td>
              <td>{{Data_1_THD_neu_curr}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <table class="table table-bordered" style="min-height: 445px">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Power</th>
                <th scope="col">Value</th>
              </tr>
            </thead>
            <tr>
              <td>Power A</td>
              <td>{{Data_1_power_A}}</td>

            </tr>
            <tr>
              <td>Power B</td>
              <td>{{Data_1_power_B}}</td>

            </tr>
            <tr>
              <td>Power C</td>
              <td>{{Data_1_power_C}}</td>
            </tr>
            <tr>
              <td>Peak Power A</td>
              <td>{{Data_1_power_A_max}}</td>

            </tr>
            <tr>
              <td>Peak Power B</td>
              <td>{{Data_1_power_B_max}}</td>

            </tr>
            <tr>
              <td>Peak Power C</td>
              <td>{{Data_1_power_C_max}}</td>
            </tr>
            <tr>
              <td>TimeStamp</td>
              <td>{{var_time1}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <table class="table table-bordered" style="min-height: 445px">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Physical</th>
                <th scope="col">Value</th>
              </tr>
            </thead>
            <tr>
              <td>Accelerometer X Axis</td>
              <td>{{Data_1_acc_x}}</td>

            </tr>
            <tr>
              <td>Accelerometer Y Axis</td>
              <td>{{Data_1_acc_y}}</td>

            </tr>
            <tr>
              <td>Accelerometer Z Axis</td>
              <td>{{Data_1_acc_z}}</td>
            </tr>
            <tr>
              <td>Temperature</td>
              <td>{{Data_1_temp}}</td>

            </tr>
            <tr>
              <td>Oil level</td>
              <td>{{Data_1_oil_lvl}}</td>

            </tr>
            <tr>
              <td>Coolant level</td>
              <td>{{Data_1_cool_lvl}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="row"> -->

    <br>
    <br>
    <div class="container-fluid">
      <fusioncharts [width]="width" [height]="height" [type]="type" [dataFormat]="dataFormat" [dataSource]="dataSource_VRMS_1_volt">
      </fusioncharts>
      <br>
      <br>
    </div>

    <div class="container-fluid">
      <fusioncharts [width]="width" [height]="height" [type]="type" [dataFormat]="dataFormat" [dataSource]="dataSource_VRMS_1_curr">
      </fusioncharts>
      <br>
      <br>
    </div>
    <div class="container-fluid">
      <fusioncharts [width]="width" [height]="height" [type]="type" [dataFormat]="dataFormat" [dataSource]="dataSource_VRMS_neu_curr">
      </fusioncharts>
      <br>
      <br>
    </div>
    <div class="container-fluid">
      <fusioncharts [width]="width" [height]="height" [type]="type" [dataFormat]="dataFormat" [dataSource]="dataSource_THD_1_volt">
      </fusioncharts>
      <br>
      <br>
    </div>
    <div class="container-fluid">
      <fusioncharts [width]="width" [height]="height" [type]="type" [dataFormat]="dataFormat" [dataSource]="dataSource_THD_1_curr">
      </fusioncharts>
      <br>
      <br>
    </div>
    <div class="container-fluid">
      <fusioncharts [width]="width" [height]="height" [type]="type" [dataFormat]="dataFormat" [dataSource]="dataSource_THD_neu_curr">
      </fusioncharts>
      <br>
      <br>
    </div>
    <div class="container-fluid">
      <fusioncharts [width]="width" [height]="height" [type]="type" [dataFormat]="dataFormat" [dataSource]="dataSource_power">
      </fusioncharts>
      <br>
      <br>
    </div>
    <div class="container-fluid">
      <fusioncharts [width]="width" [height]="height" [type]="type1" [dataFormat]="dataFormat" [dataSource]="dataSource_har_curr">
      </fusioncharts>
      <br>
      <br>
    </div>
    <div class="container-fluid">
      <fusioncharts [width]="width" [height]="height" [type]="type1" [dataFormat]="dataFormat" [dataSource]="dataSource_har_volt">
      </fusioncharts>
    </div>
    <br>
    <br>

  <!-- </div> -->
</div>